---
layout: default
search: exclude
disable_anchor: true
---
<div class="welcome bg-primary text-white py-4">
  <div class="container">
    <h1 class="text-lg-left text-center">{{ site.data.l10n.title | escape }}</h1>
    <p class="lead text-lg-left text-center">{{ site.data.l10n.description | escape }}</p>
  </div>
</div>

<div class="container mt-2">
  <div class="">
    <div class="card-b">
      <div class="group-head">
        <h3 class="font-weight-bold group-text-first">{{ site.data.l10n.news | escape }}</h3><a
          class="font-weight-bold group-text-second" href="{{ site.url }}/blog" target="_blank">View All
        </a>
      </div>
      <hr>
      <div class="group-grid-root">
        {% for post in site.categories.blog limit:3 %}
        <div class="group-grid-paper">
          <div class="image">
            <img src="{{ site.url }}/{{ post.image }}" data-src="{{ site.url }}/{{ post.image }}"
              alt="{{ post.title }}">
          </div>
          <div class="card-body">
            <h3 class="card-title">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h3>
            <hr class="light">
            <p class="card-text"><strong><span class="icons-start mdi mdi-calendar-range"></span> {{ post.date | date:
                '%B %d,
                %Y' }}{% if post.author %} <span class="icons mdi mdi-account"></span> {{ post.author }}{% endif
                %}</strong></p>
            <p>{{ post.excerpt }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>
</div>